<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eve</title>
    <link rel="stylesheet" href="~/css/bundle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="mdc-typography">
    <!--menu bar-->
    <div id="menu" class="mdc-elevation--z4">
      <div class="row">
        <div class="left" id="centered">
          <div><p class="mdc-typography--headline5">Eve</p></div>
        </div>
        <div class="right" id="centered">
          <div class="mdc-segmented-button mdc-segmented-button--single-select" role="radiogroup">
            <button id="daily-button" class="mdc-segmented-button__segment mdc-segmented-button__segment--selected" role="radio" aria-checked="true">
              <div class="mdc-segmented-button__ripple"></div>
              <div class="mdc-segmented-button__label">Daily</div>
            </button>
            <button id="monthly-button" class="mdc-segmented-button__segment" role="radio" aria-checked="false">
              <div class="mdc-segmented-button__ripple"></div>
              <div class="mdc-segmented-button__label">Monthly</div>
            </button>
          </div>
        </div>
        <div class="right" id="centered">
          <button id="temp-toggle" class="mdc-switch mdc-switch--selected" type="button" role="switch" aria-checked="true">
            <div class="mdc-switch__track"></div>
            <div class="mdc-switch__handle-track">
              <div class="mdc-switch__handle">
                <div class="mdc-switch__shadow">
                  <div class="mdc-elevation-overlay"></div>
                </div>
                <div class="mdc-switch__ripple"></div>
                <div class="mdc-switch__icons">
                  <svg class="mdc-switch__icon mdc-switch__icon--on" viewBox="0 0 24 24">
                    <path d="M19.69,5.23L8.96,15.96l-4.23-4.23L2.96,13.5l6,6L21.46,7L19.69,5.23z" />
                  </svg>
                  <svg class="mdc-switch__icon mdc-switch__icon--off" viewBox="0 0 24 24">
                    <path d="M20 13H4v-2h16v2z" />
                  </svg>
                </div>
              </div>
            </div>
          </button>
          <label for="temp-toggle"> Freedom Units</label>
        </div>
      </div>
    </div>
    @RenderBody()
    <!--webpack js src-->
    <script src="~/js/bundle.js" async></script>
  </body>
</html>