@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="row">
        @for(int i = 0; i < 3; i++)
        {
            @await Html.PartialAsync("~/Views/Graphs/Graph.cshtml");
        }
    </div>
</section>