<!--main card-->
    <div id="card" class="mdc-elevation--z1">
      <div class="row">
        <div class="column">
          <p class="mdc-typography--overline">temperature</p>
          <p><span class="xl-temp">XX&#176;</span><span class="degree"> Fahrenheit</span></p>
        </div>
        <div class="column">
          <p class="mdc-typography--overline">co2 concentration</p>
          <p><span class="xl-co2">XXX</span><span class="unit"> ppm CO2</span></p>
        </div>
        <div class="column">
          <p class="mdc-typography--overline">humidity</p>
          <p><span class="xl-humidity">XX%</span><span class="unit"> RH</span></p>
        </div>
      </div>
      <!--graphs-->
      <div class="graph">
        <canvas id="temp-graph"></canvas>
      </div>
      <div class="graph">
        <canvas id="co2-graph"></canvas>
      </div>
      <div class="graph">
        <canvas id="humidity-graph"></canvas>
      </div>
    </div>