@model Eve.Models.AirStatistics

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Recent average temp: @Model.RecentAvgTemp
</div>
<section class="container">
    <div class="row">
        @foreach(var graph in Model.DailyGraphs)
        {
            @await Html.PartialAsync("~/Views/Graphs/Graph.cshtml", graph);
        }
    </div>
</section>