@model Eve.Models.Graph

<div class="col-md-4">
    <h1 class="display-5">Example chart.</h1>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script>
$('document').ready(function() {
  const labels = [
    @Html.Raw(Model.Labels)
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: '@(Model.Title)',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
});
</script>